In [11]:
import pandas as pd
import numpy as np
from datetime import datetime
from unidecode import unidecode
import pyarrow 

pd.options.display,max_columns=None

ModuleNotFoundError: No module named 'unidecode'

CARGAR DATOS

In [6]:
df1=pd.read_csv("c:/Users/franc/OneDrive/Documentos/SEMESTRE 8/DATOS/datos_cliente1.csv",sep=";",encoding="latin-1")
df1.head(3)

,Unnamed: 0,id_cliente,nombre,apellidoS,FECHA NACIMIENTO,ciudad,fecha_registro,ultima_compra
0,0,1.0,Ana,Díaz,06/01/2000,Bogotá,19/01/2022,14/02/2022
1,1,2.0,Carlos,López,02/08/1980,Barranquilla,21/01/2022,15/02/2022
2,2,3.0,Pedro,Pérez,10/06/1976,Cartagena,22/02/2022,04/04/2022

In [8]:
df2=pd.read_csv("c:/Users/franc/OneDrive/Documentos/SEMESTRE 8/DATOS/datos_cliente2.csv",sep=";",encoding="latin-1")
df2.head(3)

,Unnamed: 0,id_orden,id_cliente,Producto,monto DE COMPRA,Fecha orden,Identificacionn,tipo venta,REGION
0,0,1001,273.0,A,300.70,31/10/2022,43453698.0,presencial,Este
1,1,1002,1468.0,B,106.56,07/06/2021,27299420.0,online,Norte
2,2,1003,NaN,E,133.42,02/04/2021,23461449.0,online,Este

In [9]:
df3=pd.read_csv("c:/Users/franc/OneDrive/Documentos/SEMESTRE 8/DATOS/datos_cliente3.csv",sep=";",encoding="latin-1")
df3.head(3)

   Unnamed: 0  id_orden  tipo_venta REGION DE VENTA  porcentaje_pago
0           0      1001  presencial            Este              8.0
1           1      1002      online           Norte             12.0
2           2      1003      online            Este             10.0